@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line-hover {
    @apply absolute -bottom-1 left-0 w-0 h-1 bg-primary transition-all group-hover:w-full;
  }
  .active {
    @apply text-primary;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");

html {
  scroll-behavior: smooth;
}
.font-primary {
  font-family: "Aoboshi One", serif;
}

/* .active {
  color: red;
} */
